{% extends 'base.html.twig' %}

{% block title %}сортировка{% endblock %}

{% block body %}
    <div class="wrapper">
        {% if form is not defined %}
           <h1>Пузырьковая сортировка</h1>
           <div class="arraySort">
               {% for array in bubble.array %}
                    {{ array }}
               {% endfor %}
           </div>
           <div>
               Затраты памяти - {{ bubble.memory }} байт
           </div>
           <div>
               Затраты времени - {{ bubble.time }} микросекунд
           </div>
           {# сортировка пузырьком 2 способ #}
           <h1>Пузырьковая сортировка - второй вариант</h1>
           <div class="arraySort">
               {% for array in bubbleSecond.array %}
                    {{ array }}
               {% endfor %}
           </div>
           <div>
               Затраты памяти - {{ bubbleSecond.memory }} байт
           </div>
           <div>
               Затраты времени - {{ bubbleSecond.time }} микросекунд
           </div>

           {# Сортировка перемешиванием #}
           <h1>Сортировка перемешиванием</h1>
           <div class="arraySort">
               {% for item in sheyk.array %}
                    {{ item }}
               {% endfor %}
           </div>
           <div>
               Затраты памяти - {{ sheyk.memory }} байт
           </div>
           <div>
               Затраты времени - {{ sheyk.time }} микросекунд
           </div>

           {# Сортировка вставкой #}
           <h1>Сортировка вставкой</h1>
           <div class="arraySort">
               {% for item in insert.array %}
                    {{ item }}
               {% endfor %}
           </div>
           <div>
               Затраты памяти - {{ insert.memory }} байт
           </div>
           <div>
               Затраты времени - {{ insert.time }} микросекунд
           </div>

           {# Сортировка выбором #}
           <h1>Сортировка выбором</h1>
           <div class="arraySort">
               {% for item in choice.array %}
                    {{ item }}
               {% endfor %}
           </div>
           <div>
               Затраты памяти - {{ choice.memory }} байт
           </div>
           <div>
               Затраты времени - {{ choice.time }} микросекунд
           </div>

           {# Сортировка расческой #}
           <h1>Сортировка расческой</h1>
           <div class="arraySort">
               {% for item in comb.array %}
                    {{ item }}
               {% endfor %}
           </div>
           <div>
               Затраты памяти - {{ comb.memory }} байт
           </div>
           <div>
               Затраты времени - {{ comb.time }} микросекунд
           </div>
        {% else %}
            <div class="form-cont">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
            </div>
        {% endif %}
    </div>
{% endblock %}
